 <div *ngIf="!cargando"><p>hola cargado</p></div>
<div *ngIf="cargando"><img src="https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif"></div>
<button (click)="mostrarCargando()">Mostrar Cargando</button>

<div *ngFor="let nombre of nombres">
	<p>hola, mi nombre es: {{nombre}}</p>
</div>

<div *ngFor="let producto of productos" class="producto">
	<h1 [ngClass]="{'textoimportante':producto.esImportante}">{{producto.nombre}}</h1>
	<label>Stock:</label>
		<p> <strong>{{producto.stock}}</strong></p>
	<label>Fabricante:</label>
		<p> <strong>{{producto.fabricante}}</strong></p>
	<label>Vencimiento:</label>
		<p> <strong>{{producto.fechaVence|date:'short'}}</strong></p>
</div>

<!-- <div class="tab">
  <button (click)="cambiarPestana('perfil')">perfil</button>
  <button (click)="cambiarPestana('puntos')">puntos</button>
  <button (click)="cambiarPestana('info')">info</button>
  <div class="tabcontenido" [ngSwitch]="pestana">
    <p *ngSwitchCase="'perfil'">perfil</p>
    <p *ngSwitchCase="'puntos'">puntos</p>
    <p *ngSwitchCase="'info'">info</p>
    <p *ngSwitchDefault>Seleccionar</p>
  </div>
</div> -->

<div [ngClass]="{'cuadrado': mostrarCuadrado}">
  <p>fondo verde</p>
</div>
<button (click)="alternarFondo()">Alternar cuadrado</button>
