<div class="container">
  <h2>{{title}}</h2>
  <form [formGroup]="formularioArticulo">
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="body">Cuerpo</label>
      <input type="text" class="form-control" formControlName="body">
    </div>
    <div class="form-group">
      <label for="user">Autor</label>
      <select name="userId" class="form-control" formControlName="userId">
        <option *ngFor="let usuarioItem of usuarios" [value]="usuarioItem.userId">{{usuarioItem.name}}</option>
      </select>
    </div>
    <br>
    <button *ngIf="esNuevo" class="btn btn-primary" [disabled]="!formularioArticulo.valid" (click)="agregar()">Guardar</button>
    <button *ngIf="!esNuevo" class="btn btn-dark" [disabled]="!formularioArticulo.valid" (click)="editar()">Guardar</button>
  </form>
</div>
