<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  aaaa

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pedidos">Pedido Actual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listado-pedidos">Pedidos</a>
      </li>
    </ul>
  </div>
</nav>
