<div class="container mt-3">
  <h4>Clientes</h4>
  <form action="">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Buscar cliente">
    </div>
  </form>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../../assets/user.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Juan Perez</h5>
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger img-cliente">Desactivar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../../assets/user.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger img-cliente">Desactivar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../../assets/user.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger img-cliente">Desactivar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../../assets/user.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger img-cliente">Desactivar</a>
        </div>
      </div>
    </div>
  </div>
</div>
